.Header {
    display: flex;
    justify-content: space-around;
    background-color: rgb(217,83,79);
    font-family: 'Roboto', sans-serif;
    padding: 1.5vh;
    a {
        text-decoration: none;
        font-size: 4vh;
        font-weight: 600;
        color: white;
    }
    a.animate {
        text-decoration: none;
        color: white;
        position: relative;
    }
    a.animate:after {
        content: '';
        position: absolute;
        top: 103%;
        left: 0;
        width: 0%;
        border-bottom: 2px solid rgb(170, 63, 61);
        transition: 0.2s;
    }
    a.animate:hover:after {
        width: 100%;
    }
}

