.User {
    text-align: center;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    h3 {
        color: rgb(66,139,202);
        font-weight: 500;
        font-size: 4vh;
    }
    h4 {
        color: black;
        font-weight: 100;
    }
    p {
        color: black;
        font-weight: 100;
    }
}